Projeto1/obj/*
Projeto1/bin/*

Projeto2/API/obj/*
Projeto2/DAL/obj/*
Projeto2/Modelos/obj/*
Projeto2/Web/obj/*
Projeto2/WebClient/obj/*

Projeto2/API/bin/*
Projeto2/DAL/bin/*
Projeto2/Modelos/bin/*
Projeto2/Web/bin/*
Projeto2/WebClient/bin/*

.vscode/*
Projeto1/.vscode/*
Projeto2/API/.vscode/*
Projeto2/DAL/.vscode/*
Projeto2/Web/.vscode/*
Projeto2/WebClient/.vscode/*
